.geocode-city__autocomplete-input {
  width: 50vw
}

.geocode-city__autocomplete-container {
  border: 1px dotted gray;
  border-radius: 1px;
}

.geocode-city__autocomplete-item-highlighted {
  background: lightblue;
}

.geocode-city__city-location {
  color: gray;
}
